.form {
  width: 50px;
  max-width: 250px;
  margin: 10px;
}

.p {
  color: #bf1650;
  text-align: center;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  color: black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

input {
  color: black;
}

.button {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 5px;
  display: block;
  appearance: none;
  border-radius: 10px;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}
.buttonBlack {
  background: black;
  border: 1px solid white;
}
