html {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
}
body {
  /* Background cover all the page */
  min-height: 100vh;
  /* background-image: url('./assets/subtle-prism.svg'); */
  /* background: #161415 url('./assets/mountain1.png') no-repeat top center; */

  background-image: url('./assets/trees.png');
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* ------------------------------- */
  height: 100%;
  max-height: 100vh;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  position: relative;
  /* color: rgb(241, 218, 196); */
}
html {
  scroll-behavior: smooth;
  /* height of sticky header */
  scroll-padding-top: 70px;
}

::-webkit-scrollbar {
  display: none;
}

.css-e7aiwn button {
  margin: 0px !important;
}
/* #footer {
  height: 1em;
  width: 100%;
  margin-bottom: 10em;
} */
/* * {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  } */
